@import url("https://use.typekit.net/rui5xuw.css");

:root {
  --color-light: #f5f5f5;
  --color-neutral: #dedede;
  --color-accent: #00ff6c;
  --color-dark: #232323;
}

* {
  box-sizing: border-box;
  transition: all ease-in-out 250ms;
}

body {
  margin: 0;
  font-family: "novecento-sans-wide", sans-serif;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 70em;
  margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
  content: "";
  display: block;
  clear: both;
}

/** typography */

h1,
h2 {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 0;
}

p {
  margin-top: 0;
  line-height: 1.5;
}

p:last-of-type {
  margin-bottom: 0;
}

.title {
  font-size: 1.8rem;
  margin: 1.5em;
  font-weight: 1000;
  margin-top: 1em;
}

.title > span {
  font-weight: 300;
  display: block;
  font-size: 1.3rem;
}

.title-cta {
  margin: 0 0 0.5em;
}

.unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1000px) {
  p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .title {
    font-size: 3.5rem;
  }

  .title > span {
    font-size: 1.8rem;
  }
}

/** buttons */

.button {
  display: inline-block;
  font-size: 1.15rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  padding: 0.5em 1.75em;
}

@media screen and (min-width: 1000px) {
  .button {
    font-size: 1.5rem;
  }
}

.button-small {
  font-size: 0.7rem;
  font-weight: 700;
}

.button-accent {
  color: var(--color-accent);
  border-color: var(--color-accent);
}

.button-accent:hover,
.button-accent:focus {
  background: var(--color-accent);
  color: var(--color-dark);
}

.button-dark {
  color: var(--color-dark);
  border-color: var(--color-dark);
}

.button-dark:hover,
.button-dark:focus {
  background: var(--color-dark);
  color: var(--color-accent);
}

/** header  */

header {
  position: absolute;
  width: 100%;
  margin: 1em;
}

@media screen and (min-width: 1000px) {
  .logo {
    float: left;
  }
}

/** home-hero  */

.home-hero {
  /*! Replace url w/ own work */
  background: url(../images/hero-bg.jpg) no-repeat center center;
  background-size: cover;
  background-position: center;
  padding: 10em 0;
  color: var(--color-light);
}

@media screen and (min-width: 1000px) {
  .home-hero {
    height: 100vh;
    padding-top: 35vh;
  }
}

/** home-about */

.home-about-textbox {
  background: var(--color-dark);
  padding: 4em;
  width: 100vw;
  margin-left: -2.5%;
  outline: 2px solid var(--color-accent);
  outline-offset: -2.5em;
  color: var(--color-light);
  position: relative;
}

.home-about-textbox h2 {
  color: var(--color-accent);
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0.75em;
  background: var(--color-dark);
  padding: 0 0.145em;
}

@media screen and (min-width: 400px) {
  .home-about-textbox h2 {
    top: 0.6em;
    padding: 0 0.325em;
    font-size: 2rem;
  }
}

@media screen and (min-width: 1000px) {
  .home-about-textbox h2 {
    font-size: 2.5rem;
  }

  .home-about {
    /*! Replace url w/ own work */
    background: url(../images/who-we-are.jpg) no-repeat center center;
    background-size: cover;
    background-position: center;
    padding-bottom: 10em;
  }

  .home-about-textbox {
    width: 50%;
    padding: 7em;
    outline-offset: -3.75em;
    margin-left: -2.5%;
    top: -6em;
    text-align: left;
    box-shadow: 0 0 4em 0 rgba(0, 0, 0, 0.3);
  }

  .home-about-textbox h2 {
    top: 0.9em;
    left: 30%;
    transform: translateX(0);
  }
}

/** portfolio  */
.portfolio {
  padding: 3em 0 0;
}

.portfolio-item {
  margin-bottom: 2em;
}

.grid-container {
  display: grid;
  grid-template-rows: auto;
  gap: 0.3em solid var(--color-dark);
}

.port-item {
  margin: 0em;
  position: relative;
}

.port-item > img {
  display: block;
}

.port-desc {
  position: absolute;
  bottom: 0em;
  left: 0em;
  right: 0em;
  color: var(--color-light);
  background: rgba(0, 0, 0, 0.6);
  padding-bottom: 2em;
}

.port-desc > p {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0;
  padding: 1em;
}

.grid-container {
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
}

.port-desc {
  transform: translateY(100%);
}

.port-item:hover .port-desc {
  transform: translateY(0);
  transform: translateZ(100);
}

/** cta */

.cta {
  background: var(--color-accent);
  padding: 5em 0;
}

.cta > h2 {
  color: var(--color-dark);
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1em;
}

/** footer  */
/*! fix footer layout */


footer {
  background: var(--color-dark);
  color: var(--color-light);
  text-align: left;
  padding: 5em 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

footer > div {
  padding: 1em;
  width: 100%;
}

footer > div > h3 {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}

footer > p {
  font-size: 1rem;
  margin-left: 0.5em;
  margin-bottom: 0;
}

.btn-container {
  text-align: center;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline-start: 10em;
  padding-inline-end: 10em;
}

.btn-container > a {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.fa-facebook {
  color: #3b5998;
  font-size: 1.5rem;
  margin: 0.5em;
}

.fa-twitter {
  color: #1da1f2;
  font-size: 1.5rem;
  margin: 0.5em;
}

.fa-instagram {
  color: #e1306c;
  font-size: 1.5rem;
  margin: 0.5em;
}

.fa-linkedin {
  color: #0077b5;
  font-size: 1.5rem;
  margin: 0.5em;
}

.fa-github {
  color: #e8eaea;
  font-size: 1.5rem;
  margin: 0.5em;
}


